@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);
@font-face {
  font-family: "Electronic Arts Text";
  src: url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
      format("svg");
}

:root {
  font-family: "Electronic Arts Text";
}
body {
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid white;
  padding: 0 10px;
  background-color: #232529;
  color: white;
  font-family: Arial, sans-serif;
}
.navbar-menu {
  list-style: none;
  display: flex;
}
.hamburguer-menu {
  padding-right: 10px;
}
.hamburguer-icon {
  display: flex;
}
.header-menu {
  display: flex;
  justify-content: flex-start;
}
.header-games {
  padding: 10px;
}
.header-experiences {
  padding: 10px;
}
.header-about {
  padding: 10px;
}
.header-commitments {
  padding: 10px;
}
.header-resources {
  padding: 10px;
}
.banner-bg {
  position: absolute;
}
.banner-title {
  position: relative;
}
.banner-description {
  position: relative;
  color: white;
}
.banner-moreinfo {
  position: relative;
}
.banner-buynow {
  position: relative;
}
#ea-home-updates-tab {
  display: flex;
}
.ea-home-cards-main {
  position: absolute;
  top: 670px;
}

/* Footer */
footer {
  position: absolute;
  /* top: 3000px; */
  width: 100vw;
}

.footer-ea-play-promo-bg {
  background-image: url(/assets/footer/grid-with-background.png);
  height: 471px;
  width: 100%;
  display: flex;
  align-items: center;
  & .footer-ea-play-promo {
    margin-left: 250px;
    border-top: 50px;
    width: 550px;
    line-height: 27px;
    padding: 150px;
    & p {
      color: white;
      font-size: 18px;
      font-weight: 400;
    }

    & button {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      padding: 15px 40px;
      border-radius: 2px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.footer-herramientas-banner {
  background-color: #6FB0D6;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h2 {
    width: 520px;
    margin-left: 400px;
    font-size: 25px;
    line-height: 35px;
  }
  & button {
    background-color: transparent;
    height: 59px;
    width: 181px;
    margin-right: 400px;
    border-radius: 3px;
    font-size: 18px;

  }
}

.footer-greyspace {
  padding: 50px 400px;
  background-color: #EAEAEA;
  & .footer-condition {
    & p {
      margin: 0;
      padding-bottom: 16px;
      border-bottom: 1px solid black;
      font-size: 14px;
    }
    & a {
      color: #ff4747;
      text-decoration: none;
    }
  }
  & .footer-top {
    display: flex;
    padding: 40px 0 40px 0;
    justify-content: space-between;
    & .footer-top-left-links {
      & a {
        padding-right: 40px;
        text-decoration: none;
      }
    }
    & .footer-top-right-links {
      & h3 {
        font-size: 14px;
        text-align: right;
        font-stretch: expanded;
      }
      & .footer-media-links {
        font-size: 22px;
        text-align: right;
        display: flex;
        gap: 25px;
        & a {
          color: black;
        }
      }
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  padding: 50px 400px;
  gap: 25px;
  & .footer-bottom-nav {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    & img {
      height: 64px;
    }
    & .footer-bottom-nav-links {
      display: flex;
      flex-direction: column;
      width: 550px;
      gap: 25px;
      & div {
        display: flex;
        gap: 45px;
      }
      & a {
        text-decoration: none;
        font-size: 18px;
      }
    }
    & .footer-bottom-nav-btns {
      display: flex;
      gap: 40px;
      & button {
        display: inline-flex;
        align-items: center;
        background-color: transparent;
        border: 3px solid lightgray;
        border-radius: 2px;
        font-family: "Electronic Arts Text";
        font-size: 15px;
        padding: 15px;
        width: 190px;
        height: 61px;
        text-align: left;
      }
    }
  }
}

.footer-bottom-info {
  display: flex;
  justify-content: space-between;
  & .footer-bottom-copyright {
    margin-left: 90px;
    & .footer-bottom-privacy {
      width: 630px;
      display: flex;
      gap: 5px 30px;
      flex-wrap: wrap;
      & a {
        text-decoration: none;
      }
    }
  }
}

.region-hidden{
  display: none;
}
.region-visible{
  display: flex;
  position: absolute;
  bottom: 270px;
  border: 3px solid lightgray;
  width: 645px;
  height: 452px;
  background-color: #F3F3F3;
  padding: 10px;
  & div{
    display: flex;
    flex-direction: column;
    padding: 15px;
    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 47px;
      width: 130px;
      border-top: 2px solid #EAEAEA;
    }
  }
  & .footer-fourth-column a{
    width: 105px;
  }
}

.language-hidden {
  display: none;
}

.language-visible {
  display: flex;
  position: absolute;
  bottom: 270px;
  border: 3px solid lightgray;
  width: 540px;
  height: 453px;
  background-color: #F3F3F3;
  & div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 47px;
      width: 150px;
      border-top: 2px solid #EAEAEA;
      & i{
        padding: 5px;
      }
    }
  }
  & .footer-third-language {
    height: 423px;
    & a{
      width: 120px;
    }
  }
}
#language i {
  padding: 5px;
}
#footer-no-border{
  border: none;
}

.region-visible div a:hover, .language-visible div a:hover{
  text-indent: 10px;
}
